.register {
    width: 100%;
    height: auto;
    min-height: 75vh;
    background: linear-gradient(to bottom, #696969, #D3D3D3);
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  
  .register-container {
    width: 80%;
    max-width: 500px;
    background: white;
    margin: auto;
    padding: 4vw;
    border-radius: 15px;
  }
  
  .register-container h1 {
    text-align: center;
    font-size: 2vw;
    margin: 0;
  }
  
  .register-fields {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  
  .register-fields input {
    height: 6vh;
    width: 100%;
    font-size: 1.5vw;
    border: 1px solid;
    border-radius: 25px;
    
  }
  
  .register-container button {
    width: 100%;
    height: 6vh;
    color: white;
    background: red;
    margin-top: 2vw;
    border: none;
    font-size: 1.8vw;
    font-weight: 500;
    cursor: pointer;
    border-radius: 25px;
  }
  
  .register-login {
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
    margin-top: 2vw;
  }
  
  .register-login span {
    color: blue;
    cursor: pointer;
  }
  
  .register-checkbox {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    font-size: 1.2vw;
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    .register-container {
      width: 90%;
      padding: 5vw;
    }
  
    .register-container h1 {
      font-size: 5vw;
    }
  
    .register-fields input {
      font-size: 4vw;
      height: 8vh;
    }
  
    .register-container button {
      font-size: 4vw;
      height: 8vh;
    }
  
    .register-login {
      font-size: 3.5vw;
    }
  
    .register-checkbox {
      font-size: 3vw;
    }
  }
  